.holder {
	margin: 10px 0px 20px;
}

.holder a {
	font-size: 12px;
	cursor: pointer;
	margin: 0 2px;
	color: #333;
	border: #B5B5B5 1px solid !important;
	padding: 10px;
}

.holder a:hover {
color:white;
background-color: rgb(203, 30, 36);
}

.holder a.jp-previous { margin-right: 15px; }
.holder a.jp-next { margin-left: 15px; }

.holder a.jp-current, a.jp-current:hover {
	color: white;
	font-weight: 700px;
	background-color: rgb(203, 30, 36);
}

.holder a.jp-disabled, a.jp-disabled:hover {
	color: #bbb;
}


.holder a.jp-current, a.jp-current:hover,
.holder a.jp-disabled, a.jp-disabled:hover {
	cursor: default; 
	/*	background: none;*/
}

.holder span { margin: 0 5px; }